<div class="container">
  <form class="signUp" (ngSubmit)="register()">
    <h3>Create Your Account</h3>
    <input class="w100" type="text" [(ngModel)]="username" name="username" placeholder="Username" reqired />
    <input class="w100" type="email" [(ngModel)]="email" name="email" placeholder="Email" reqired />
    <input type="password" [(ngModel)]="password" name="password" placeholder="Password" reqired />
    <button class="form-btn sx log-in" type="button" (click)="handleLogInClick()">Log In</button>
    <button class="form-btn dx" type="submit">Sign Up</button>
  </form>
  <form class="signIn" (ngSubmit)="login()">
    
    <img class="ikon" src="../../assets/images/KAI.svg.png" />
    <br>
    <br>
    <input type="email" name="email" [(ngModel)]="email" placeholder="eMail" reqired />
    <input type="password" name="password" [(ngModel)]="password" placeholder="Password" reqired />
    <button class="form-btn sx back" (click)="handleBackClick()" type="button">Sign Up</button>
    <button class="form-btn dx" type="submit">Log In</button>
  </form>
</div>
