<div class="container">
  <form class="signUp">
    <h3>Create Your Account</h3>
    <input class="w100" type="email" placeholder="Insert eMail" reqired />
    <input type="password" placeholder="Insert Password" reqired />
    <input type="password" placeholder="Verify Password" reqired />
    <button class="form-btn sx log-in" type="button" (click)="handleLogInClick()">Log In</button>
    <button class="form-btn dx" type="submit">Sign Up</button>
  </form>
  <form class="signIn" (ngSubmit)="login()">
    <h4>KAI CHAT</h4>
    <br>
    <h4>Login</h4>
    <br>
    <input type="email" name="email" [(ngModel)]="email" placeholder="Insert eMail" reqired />
    <input type="password" name="password" [(ngModel)]="password" placeholder="Insert Password" reqired />
    <button class="form-btn sx back" (click)="handleBackClick()" type="button">Sign Up</button>
    <button class="form-btn dx" type="submit">Log In</button>
  </form>
</div>
