<div id="sidebar">
  <div id="searchBox">
    <img width="19" src="../../assets/images/searchIcon.svg" />
    <input [(ngModel)]="searchText" type="text" placeholder="Search or start the new chat" />
  </div>
  <div id="sidebarContent">
    <div class="conversation" *ngFor="let conversation of rooms">
      <div class="picture">
        <img src="{{ conversation.foto }}" />
      </div>
      <div class="content">
        <div class="conversationHeader">
          <div class="name">{{ conversation.username }} </div>
          <div class="time">{{ conversation.email }}</div>
        </div>
      </div>
    </div>

  </div>

</div>
