<div id="sidebar">
  <div id="row1">
    <div id="sidebarHeader">
      <div class="avatarContainer">
        <img [src]="image" (click)="selectImage.click()" />
        <input type="file" (change)="updateImage($event)" style="display: none" #selectImage />
        <div class="title">
          <br>
          <span>
            <h3>{{userData.username}}</h3>
          </span>
          <p></p>
          <span>
            <h4>{{userData.email}}</h4>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebarContent">

  </div>
</div>
