<div id="background_header"></div>
<div id="background_body"></div>
<div id="chatContainer">
  <div *ngIf="profileView" id="profile">
    <div id="sidebarHeader">
      <div class="nameSection">
        <span (click)="profileShow()">
          <h5>X Info Profil</h5>
        </span>
      </div>
    </div>
    <app-profile></app-profile>
  </div>
  <div *ngIf="kontakView" id="kontak">
    <div id="row1">
      <div id="sidebarHeader">
        <div class="nameSection">
          <span (click)="kontakShow()">
            <h5>X Kontak</h5>
          </span>
        </div>
      </div>
    </div>
    <app-kontak></app-kontak>
  </div>
  <div *ngIf="!profileView && !kontakView" id="sidebar">
    <div id="row1">
      <div id="sidebarHeader">
        <div class="avatarContainer">
          <img (click)="profileShow()" [src]="image" />
        </div>
        <div class="actionsContainer">
          <h5>
            <i class="fas fa-fw fa-users" (click)="kontakShow()"></i> &nbsp;
            <i (click)="logout()" class="fas fa-fw fa-power-off"></i>&nbsp;
            <i class="fas fa-fw fa-ellipsis-v"></i>
          </h5>
        </div>
      </div>
      <div id="searchBox">
        <img width="19" src="../../assets/images/searchIcon.svg" />
        <input [(ngModel)]="searchText" type="text" placeholder="Search or start the new chat" />
      </div>
    </div>
    <div id="sidebarContent">
      <div class="conversation" *ngFor="let conversation of rooms" (click)="conversationClicked(conversation.id)">
        <div class="picture">
          <img src="{{ conversation.jumlah>1 ? conversation.foto:conversation.fotos }}" />
        </div>
        <div class="content">
          <div class="conversationHeader">
            <div class="name">{{ conversation.jumlah>1 ? conversation.name:conversation.username }} </div>
            <div class="time">{{ services.formatDateTime(conversation.created_at) }}</div>
          </div>
          <div class="message">
            <img *ngIf="!conversation.latestMessageRead" src="../../assets/images/doubleTick.svg" />
            <img *ngIf="conversation.latestMessageRead" src="../../assets/images/doubleTickBlue.svg" />
            {{ conversation.latestMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="chat">
    <div id="chatPlaceholder" *ngIf="roomId==0">
      <img width="400" src="../assets/images/phoneIcon.png" />
      <h2>Keep your phone connected</h2>
      <p>
        WhatsApp connects your phone to sync messages. To reduce data<br />
        usage, connect to your phone to Wi-Fi.
      </p>
      <div class="seperator"></div>

      <p>WhatsApp is available for Mac. <a href="#">Get it here</a></p>
    </div>

    <app-room-chatting [conversation]="roomId" (userClicked)="onUserSelected($event)"></app-room-chatting>
  </div>
  <div *ngIf="userInfo" id="profile">
    <div id="sidebarHeader">
      <div class="nameSection">
        <span>
          <h5>X Info Kontak</h5>
        </span>
      </div>
    </div>
    <app-info [userInfo]="userInfo"></app-info>
  </div>
</div>
