<div id="container">
  <div id="header">
    <div class="avatarSection">
      <!-- <div class="picture">
        <img [src]="roomImage" />
      </div> -->
      <!-- <div class="nameSection">{{nama}}</div> -->
    </div>
  </div>
  <div id="body" #scrollContainer *ngIf="!showFileUpload">
    <div class="message " [ngClass]="{ me : message.me=='1' }" *ngFor="let message of chatData">
      <div class="messageContent">
        <div (click)="userClicked.emit(message.user_id)" class="title-name">
          {{message.username}}
        </div>
        <pre class="msg">{{ message.tipe_message=='text'?message.message:'' }}</pre>
        <img *ngIf="message.tipe_message=='image'" class="message-img" src="{{ message.images }}" />
        <div class="time">{{ services.formatDateTime(message.created_at) }}</div>
      </div>
    </div>
  </div>
  <div *ngIf="showFileUpload">
    <label for="images" class="drop-container" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)">
      <span class="drop-title">Drop files here</span>
      or
      <input type="file" name="images" accept="image/*" (change)="onImageUpload($event)" required />
    </label>
  </div>
  <div id="footer">
    <div id="micIcon">
      <img (click)="emojiPickerVisible = !emojiPickerVisible" src="../../assets/images/smileIcon.svg" />
      <emoji-mart (emojiClick)="emojiClicked($event)" *ngIf="emojiPickerVisible"
        style="position: absolute; bottom: 50px" [darkMode]="false" set="facebook" title="Pick your emoji…"
        emoji="point_up">
      </emoji-mart>
    </div>
    <div id="smileyIcon">
      <img src="../../assets/images/attached.svg" (click)="openFileUpload()" />
    </div>
    <div id="textarea">
      <textarea [(ngModel)]="chatText" (keyup.enter)="sendMessage()"></textarea>
    </div>
  </div>
</div>
